#imagem-doe{
    background-image: url("../assets/doe.jpg");
    background-size: cover;
    height: 100vh;
}

#caixa-doe {
    width: 85%;
    height: 70%;
    position: absolute;
    left: 100px;
    top: 120px;
    border-radius: 50px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    background: rgba(217, 217, 217, .4);
}

#lista-doe{
    position: absolute;
    left: 300px;
    top: 50px;
}

#botao-seta{
    height: 50px;
    width: 50px;
    background-color: #19BD7E;
    border-radius: 50px;
    border: none;
}

.seta{
    position: absolute;
    left: 100%;
}

#teste{
    width: 30px;
}