/* * {
    outline: 1px solid red;
} */

@import url(index.css);
@import url(resgate.css);
@import url(contato.css);
@import url(sobre-nos.css);
@import url(doe.css);

html{
    background-color: black;
    color: #FFFFFF;
    font-family: 'Secular One', sans-serif;
}
body{
    margin: 0px;
}

#logo{
    width: 30px;
    height: 30px;
}

#imagem-de-fundo{
    width: 300px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar{
    width: 100%;
    background-color: #020F0A;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

#logo-text{
    padding-left: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 8px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#itens{
    padding-right: 20px;
    display: flex;
    gap: 150px;
    padding-top: 20px;
}

.botaodoe{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    background: #19BD7E;
    border-radius: 100px;
    color: #ffffff;
    transition: 0.3s;
    text-transform: uppercase;
}

.botaodoe:hover{
    background-color: #076843;
}

.botaolink{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
}

.botaolink:hover{
    color: #19BD7E;
}

.texto-logo{
    color: #FFFFFF;
    text-decoration: none;
}

input{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: none;
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
}







