html{
    background-color: #020F0A;
    color: #FFFFFF;
    font-family: 'Secular One', sans-serif; 
    /*colocar fonte regular*/
}

#logo{
    width: 30px;
    height: 30px;
}

#imagem-de-fundo{
    width: 300px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    justify-content: space-between;
}

#logo-text{
    display: flex;
    text-align: center;

}

#itens{
    display: flex;
}