#imagem-resgate{
    background-image: url("./assets/resgate.jpg");
    background-size: cover;
    height: 100vh;
}

.escuro{
    filter: brightness(40%)
}

#mensagem-resgate{
    position: absolute;
    left: 100px;
    top: 100px;
    right: 100px;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
}

#titulo-resgate{
    font-size: 40px;
}